@media (max-width: 1170px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services {
        &__item {
            justify-content: space-around;
            &:nth-child(even) &-content {
                padding-left: 30px;
            }
        }
        &__item-content, &__item-image {
            max-width: 50%;
        }
        &__item-image {
            img {
                width: 100%;
            };
        }
    }

    .calculator {
        &__form {
            form {
                flex-direction: column;
                align-items: center;
            }
        }
    
        &__controls {
            margin-bottom: 100px;
        }
        &__controls-package-button {
            
            &:first-child &-description {
                left: 0;
                transform: none;
                &::before {
                    left: 70px;
                    transform: none;
                }
            }

            &:last-child &-description {
                left: auto;
                right: 0;
                transform: none;
                &::before {
                    left: auto;
                    right: 68px;
                    transform: none;
                }
            }
        }
        
        &__result-area-input {
            width: 20px;
        }
    }

    .portfolio {
        &__tab-content {
            justify-content: center;//
        }
        &__item {
            margin: 15px;//
        }
    }

    .process {
        &__item {
            margin-bottom: 15px;
        }
    }

    .blog {


        &__items {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__link {
            margin-bottom: 30px;
        }
        &__link-image {
            margin-bottom: 15px;
            img {
                width: 100%;
            }
        }

    }
}

@media (max-width: 1100px) {
    .feedback {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__form {
            margin-bottom: 50px;
        }
        &__contacts {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}

@media (max-width: 980px) {
    .first-screen {
        &__form {
            form {
                &::before, &::after {
                    display: none;
                }
            }
        }
        &__form-inputs {
            &-line {
                display: none;
            }
        }
        &__button {
            justify-content: center;
            &-line {
                display: none;
            }
        }
    }

    
.services {
    &__item {
        flex-direction: column-reverse;
        width: 80%;
        margin: 0 auto;
        &:nth-child(even) {
            flex-direction: column-reverse;
        }
        &:nth-child(even) &-content {
            padding-left: 0;
        }
    }
    &__item-content, &__item-image {
        width: 100%;
        max-width: 100%;
    }
    &__item-content {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}
}

@media (max-width: 890px) {
    .first-screen {
        &__header {
            flex-wrap: wrap;
        }
        &__phone {
            padding-left: 0;
            padding-right: 40px;
            text-align: right;
            &::before {
                left: auto;
                right: 0;
            }
        }
        &__menu {
            justify-content: flex-end;
            width: 100%;
            margin-top: 30px;
            margin-left: auto;
        }
        &__menu-list {
            &--opened {
                width: 460px;
            }
            a {
                font-size: 16px;
            }
        }
    }

    .portfolio {
        &__tabs-nav {
            flex-wrap: wrap;
            justify-content: center;
            max-width: 540px;
            height: auto;
            margin: 0 auto;
        }
        &__tab-title {
            margin-bottom: 15px;
            .button {
                white-space: nowrap;
                border-radius: 25px;
                border: 1px solid $color-accent;
                text-align: center;
                width: 100%;
            }
            & + & {
                margin-left: 15px;
                .button {
                    &::before {
                        display: none;
                    }
                }
            }
            &:first-child {
                .button {
                    border-radius: 25px;
                }
            }
            &:last-child {
                .button {
                    border-radius: 25px;
                }
            }
            &.tab-active {
                .button {
                    padding-top: 17px;//
                    padding-bottom: 16px;//
                    border-radius: 25px;//
                }
                &:first-child {
                    .button {
                        border-radius: 25px;
                    }
                }
                &:last-child {
                    .button {
                        border-radius: 25px;
                    }
                }
            }
            &.tab-active + & {
                .button {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        &__item {
            max-width: 45%;
            img {
                width: 100%;
            }
        }
    }

    .process {
        &__item {
            flex-direction: column;
            margin-bottom: 40px;
            &:nth-child(even) {
                flex-direction: column;
            }
        }

        &__item-image {
            margin-bottom: 15px;
            img {
                width: 100%;
            }
        }
    
        &__item-text {
            font-size: 20px;
        }
    }
}

@media (max-width: 780px) {
    .first-screen {
        &__form-inputs {
            flex-direction: column;
        }
        &__input {
            max-width: 100%;
            width: 70%;
            & + & {
                margin-top: 20px;
                margin-left: 0;
            }
        }
    }

    .portfolio {
        .container {
            padding: 0;
        }
        &__item {
            margin: 5px;
            max-width: 48%;
            img {
                width: 100%;
            }
        }
    }

    .feedback {
        &__text {
            font-size: 18px;
        }
        &__form {
            padding-left: 50px;
            padding-right: 50px;
        }
        input {
            max-width: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 560px) {
    .first-screen {
        position: relative;
        &__menu {
            z-index: 5;
            width: auto;
            margin-left: 25px;
            margin-top: 0;
        }
        &__phone {
            padding-right: 0;
            &::before {
                display: none;
            }
        }
        &__menu-list {
            background-color: $grey6;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 0;
            &--opened {
                padding-top: 25px;
                padding-left: 30px;
                height: 500px;
            }
            li, a {
                display: block;
                font-size: 26px;
                margin-top: 30px;
            }
        }
        &__menu-link {
            & + & {
                margin-top: 15px;
            }
        }
        &__input {
            width: 90%;
        }
    }

    .calculator {
        &__controls-package-button {

            &:first-child &-description {
                &::before {
                    left: 50px;
                }
            }

            &:last-child &-description {
                &::before {
                    right: 48px;
                }
            }

            &-description {
                width: 320%;
                height: fit-content;
                top: 60px;
            }
        }
    }

    .portfolio {
        .container {
            padding: 0;
        }
        &__item {
            max-width: 90%;
            img {
                width: 100%;
            }
        }
    }

    .companies {

        background-color: $grey5;
    
        // .companies__items
    
    
        &__items {
            ul {
                display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            }
            height: 300px;
            ul {
                display: flex;
            }
            .scrollbar-track {
                background: rgba($grey2, 0);
            }
            .scrollbar-thumb {
                top: 0;
            }
        }
    
        &__item {
            img {
                height: 50px;
            }
            
            text-align: center;
            width: 50%;
            margin-bottom: 30px;
            & + & {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 28px;
        &::after {
            width: 260px;
        }
    }
    .first-screen {
        position: relative;
        &__menu {
            width: auto;
            order: 2;
            z-index: 5;
            margin-top: 0;
        }
        &__phone {
            order: 3;
            width: 100%;
            margin-top: 30px;
            text-align: center;
            padding: 0;
            font-size: 16px;
            a {
                font-size: 26px;
                margin-top: 8px;
            }
        }
        &__input {
            width: 95%;
        }
        &__title {
            font-size: 36px;
        }
    }

    .services {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        &__item {
            width: 100%;
            &:nth-child(even) &-content {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &__item-content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .calculator {
        &__subtitle {
            font-size: 20px;
        }
        &__controls {
            margin-bottom: 130px;
        }
        &__controls-area, &__controls-package {
            border: none;
            border-radius: 0;
            border-top: 1px solid $white;
            text-align: center;
        }
        &__controls-package {
            border-bottom: 1px solid $white;
            padding-left: 0;
            padding-right: 0;
        }
        &__controls-package-button {
            font-size: 13px;
            &:first-child &-description {
                &::before {
                    left: 30px;
                }
            }
            &:last-child &-description {
                &::before {
                    right: 28px;
                }
            }
            &-description {
                width: 320%;
                height: fit-content;
                top: 60px;
            }
        }
        &__result-button {
            font-size: 12px;
        }
    }

    .team {
        &__quote {
            position: relative;
            padding: 60px 30px 50px 30px;
            margin-top: 25px;
            text-align: center;
            &::before, &::after {
                position: absolute;
                content: "";
                width: 47px;
                height: 37px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            &::before {
                background-image: url(../img/quote-left.png);
                top: 0;
                left: 0;
            }
            &::after {
                background-image: url(../img/quote-right.png);
                right: 0;
                bottom: 0;
            }
        }
    
        // .team__quote-title
    
        &__quote-title {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 16px;
        }
    
        // .team__quote-main
    
        &__quote-main {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 12px;
        }
    
        // .team__quote-author
    
        &__quote-author {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 2px;
        }
    
        // .team__quote-author-position
    
        &__quote-author-position {
            font-size: 16px;
            font-weight: 300;
        }
    }

    .feedback {
        &__form {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width: 400px) {
        .portfolio {
        &__tab-title {
            margin: 0 15px;
            width: 100%;
            margin-bottom: 15px;
            & + & {
                margin-left: 15px;
            }
        }

        &__item {
            max-width: 100%;
            img {
                width: 100%;
            }
        }
    }
}