@import 'variables';
@import 'fonts';
@import 'global';

// MAIN STYLES

.first-screen {
    min-height: 700px;
    padding: 35px 0 55px 0;
    color: $white;
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
    }
    &__phone {
        position: relative;
        margin-left: auto;
        padding-left: 36px;
        font-size: 12px;
        line-height: 12px;
        font-weight: 300;
        a {
            margin-top: 4px;
            display: block;
            font-size: 21px;
            line-height: 21px;
            font-weight: 500;
            color: $white;
        }
        &::before {
            content: "";
            position: absolute;
            width: 28px;
            height: 42px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/icon-smartphone.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &__menu {
        margin-left: 40px;
        display: flex;
        align-items: center;
    }
    &__menu-icon {
        position: relative;
        overflow: hidden;
        padding-top: 28px;
        width: 46px;
        height: 46px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        transition: .3s;
        &-topline, &-botline, &-midline, &-text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 3px;
            transition: .3s;
        }
        &-topline, &-botline, &-midline {
            transform-origin: center;
            width: 46px;
            height: 3px;
            background-color: $white;
            border-radius: 1.5px;
        }
        &-topline {
            top: 0;
        }
        &-midline {
            top: 9px;
        }
        &-botline {
            top: 18px;
        }
        &-text {
            bottom: 3px;
        }
        &--opened &-topline {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &--opened &-midline {
            width: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &--opened &-botline {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &--opened &-text {
            bottom: -12px;
        }
    }
    &__menu-list {
        margin-right: 10px;
        overflow: hidden;
        white-space: nowrap;
        transition: .3s;
        width: 0;
        li, a {
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: $white;
            margin-right: 10px;
        }
        &--opened {
            width: 370px;
        }
    }
    &__menu-link {
    }

    &__title {
        margin-top: 65px;
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
        text-align: center;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
    }
    &__offer {
        margin-top: 36px;
        font-size: 22px;
        line-height: 22px;
        font-weight: 300;
        text-align: center;
    }


    &__form {
        max-width: 960px;
        margin: 0 auto;
        margin-top: 50px;
        form {
            position: relative;
            &::before, &::after {
                position: absolute;
                content: "";
                width: 1px;
                top: 25px;
                bottom: 30px;
                background-color: rgba($white, .3);
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
    }   
    &__form-inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-line {
            height: 1px;
            width: 20px;
            background-color: rgba($white, .3);
        }
    }
    &__input {
        max-width: 290px;
        width: 100%;
    }
    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 23px;
        input {
            margin: 0 12px;
            padding: 23px 50px;
            font-size: 16px;
            font-weight: 500;
        }
        &-line {
            height: 1px;
            width: 100%;
            background-color: rgba($white, .3);
        }
    }
    &__guarantee {
        margin-top: 24px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }

    &__scroll {
        display: block;
        position: relative;
        width: 17px;
        height: 50px;
        margin: 0 auto;
        margin-top: 75px;
        &::before, &::after {
            content: "";
            position: absolute;
            width: 17px;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &::before {
            top: 0;
            height: 30px;
            background-image: url(../img/icon-mouse.png);
        }
        &::after {
            bottom: 0;
            height: 16px;
            animation: arrows-down 2s infinite;
            animation-timing-function: ease-in-out;
            background-image: url(../img/icon-arrowsdown.png);
        }
    }
}

@keyframes arrows-down {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(2px);
    }
    100% {
        opacity: 0;
        transform: translateY(5px);
    }
}


.services {
    &__title {
    }
    &__inner {
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
    &__item-content, &__item-image {
        max-width: 555px;
    }
    &__item-title {
        font-size: 28px;
        font-weight: 300;
        color: $color-accent;
        margin-bottom: 15px;
    }
    &__item-text {
        font-size: 18px;
        font-weight: 100;
        color: $color-text1;
        margin-bottom: 30px;
    }
    &__item-button {
        padding-left: 37px;
        padding-right: 37px;
    }
    &__item-image {
        img {
            display: block;
        }
    }
}


.calculator {
    background-image: url(../img/calc-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $white;
    &__title {
        color: $white;
        &::after {
            background-color: $white;
        }
    }
    &__subtitle {
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
    }
    &__form {
        form {
            display: flex;
            justify-content: space-between;
            align-items: top;
        }
    }

    &__controls {
        max-width: 650px;
        width: 100%;
    }
    &__controls-area, &__controls-package {
        border: 1px solid $white;
        border-radius: 4px;
        padding: 20px 25px 28px 25px;
        margin-bottom: 10px;
    }
    &__controls-area-title, &__controls-package-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__controls-area-slider-labels {
        display: flex;
        justify-content: space-between;
    }
    
    .irs-min, .irs-single, .irs-max {
        color: $white;
        font-size: 16px;
        font-weight: 300;
        background: none;
        padding: 0;
        &::before {
            display: none;
        }
    }
    .irs-bar {
        display: none;
    }
    .irs {
        &::after, &::before {
            position: absolute;
            content: "";
            height: 19px;
            width: 19px;
            top: 28px;
            background-color: $white;
            border-radius: 10px;
        }
        &::after {
            right: 1px;
        }
        &::before {
            left: 1px;
        }
    }
    .irs-line {
        top: 33px;
        width: 100%; 
        height: 9px; 
        border-radius: 5px;
        background: rgba($white, .5);
        
        
    }
    .irs-handle {
        width: 23px; 
        height: 23px; 
        border-radius: 30px;
        border: 9px solid $color-accent;
        background: $white; 
        cursor: pointer; 
        
    }

    &__controls-package-buttons {
        display: flex;
        justify-content: space-between;
    }
    &__controls-package-button {
        position: relative;
        display: block;
        max-width: 190px;
        width: 100%;
        text-align: center;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid $white;
        font-size: 16px;
        line-height: 16px;
        padding: 15px;
        cursor: pointer;
        &-description {
            position: absolute;
            background-color: $white;
            color: $color-text1;
            width: 443px;
            height: 110px;
            padding: 25px 30px 20px 30px;
            bottom: -125px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            border-radius: 4px;
            &::before {
                content: "";
                position: absolute;
                top: -48px;
                left: 50%;
                transform: translateX(-50%);
                width: 49px;
                height: 24px;
                border: 24px solid transparent;
                border-bottom: 24px solid $white;
            }
        }
        &:hover {
            background-color: transparent;
            color: $color-accent;
            border-color: $color-accent;
        }
        &--active, &--active:hover {
            background-color: $color-accent;
            border-color: $color-accent;
            color: $white;
        }
        &--active &-description {
            display: block;
        }
    }
    

    &__result {
        text-align: center;
        &-wrapper {
            max-width: 460px;
            width: 100%;
        }
    }
    &__result-area-label, &__result-meterprice-label, &__result-totalprice-label {
        font-size: 16px;
        margin-bottom: 12px;
    }
    &__result-area-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__result-area-input {
        width: 20px;
        min-width: 20px;
        display: inline;
        background: none;
        border: none;
        color: $white;
        text-align: center;
    }
    &__result-area-input-buffer{
        position: absolute;
        top: -1000px;
        left: -1000px;
        visibility: hidden;
        white-space: nowrap;
    }
    &__result-meterprice, &__result-totalprice, &__result-area-wrapper {
        font-size: 32px;
        margin-bottom: 20px;
    }
    &__result-button {
        margin: 15px auto;
    }
    &__result-phone {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        padding-left: 30px;
        padding-right: 30px;
        span {
            font-size: 18px;
            font-weight: 500;
            display: block;
        }
    }
}

.portfolio {
    &__title {
    }
    &__tabs-container {
    }
    &__tabs-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        height: 51px;
    }
    &__tab-title {
        .button {
            display: inline-block;
            color: $color-accent;
            background-color: transparent;
            border-radius: 0px;
            border-top: 1px solid $color-accent;
            border-bottom: 1px solid $color-accent;
            font-size: 14px;
            line-height: 14px;
            font-weight: 300;
            text-transform: uppercase;
            padding: 17px 35px 16px 35px;
            &:hover {
                color: $color-accent-hover;
            } 
        }
        & + & {
            .button {
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    left: 0;
                    bottom: 3px;
                    top: 3px;
                    background-color: $color-accent;
                }
            }
        }
        &:first-child {
            .button {
                border-radius: 25px 0 0 25px;
                border-left: 1px solid $color-accent;
            }
        }
        &:last-child {
            .button {
                border-radius: 0 25px 25px 0;
                border-right: 1px solid $color-accent;
            }
        }
        &.tab-active {
            .button {
                color: $white;
                padding-top: 19px;
                padding-bottom: 18px;
                border-radius: 5px;
                background-color: $color-accent;
                &:hover {
                    color: $white;
                }
            }
            &:first-child {
                .button {
                    border-radius: 25px 5px 5px 25px;
                }
            }
            &:last-child {
                .button {
                    border-radius: 5px 25px 25px 5px;
                }
            }
        }
        &.tab-active + & {
            .button {
                &::before {
                    display: none;
                }
            }
        }
    }
    &__tabs-stage {
    }
    &__tabs-tab {
    }
    &__tab-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 362px;
        margin-bottom: 30px;
        img {
            display: block;
        }
    }
}

.advantages {
    background-color: $grey5;
    &__title {
    }
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    &__item {
        width: 285px;
        margin-bottom: 35px;
    }
    &__item-image {
        width: 125px;
        height: 75px;
        margin: 0 auto;
        border-bottom: 1px solid $color-accent;
        margin-bottom: 22px;
    }
    &__item-text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: $grey3;
        padding: 0 5px;
    }
}

.process {

    // .process__title

    &__title {
    }

    // .process__items

    &__items {
    }

    // .process__item

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    // .process__item-image

    &__item-image {
        max-width: 570px;
        img {
            display: block;
        }
    }

    // .process__item-text

    &__item-text {
        max-width: 570px;
        width: 100%;
        font-size: 30px;
        font-weight: 300;
        color: $color-text1;
        text-align: center;
    }
}

.companies {

    background-color: $grey5;

    // .companies__title

    &__title {
    }

    // .companies__items


    &__items {
        position: relative;
        height: 125px;
        ul {
            display: flex;
        }
        .scrollbar-track {
            opacity: 1;
            height: 5px;
            background: rgba($grey2, .1);
            border-radius: 3px;
            bottom: 3px;
        }
        .scrollbar-thumb {
            background: $color-accent;
            height: 11px;
            border-radius: 6px;
            top: -3px;
            cursor: pointer;
            &:hover {
                background: $color-accent-hover;
            }
            &::before {
                content: "";
                position: absolute;
                background-image: url(../img/scrollbar-dots.svg);
                background-repeat: no-repeat;
                background-position: center center;
                width: 8px;
                height: 6px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    // .companies__item

    &__item {
        & + & {
            margin-left: 50px;
        }
    }
}


.team {

    // .team__title

    &__title {
    }

    // .team__items

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    // .team__item

    &__item {
        max-width: 360px;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    // .team__item-image

    &__item-image {
        height: 225px;
        width: 225px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
        img {
            display: block;
            margin-right: 0;
        }
    }

    // .team__item-name

    &__item-name {
        color: $color-accent;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 8px;
    }

    // .team__item-position

    &__item-position {
        font-size: 16px;
        font-weight: 300;
    }

    // .team__quote

    &__quote {
        position: relative;
        padding: 18px 95px 5px 95px;
        margin-top: 25px;
        text-align: center;
        &::before, &::after {
            position: absolute;
            content: "";
            width: 47px;
            height: 37px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &::before {
            background-image: url(../img/quote-left.png);
            top: 0;
            left: 0;
        }
        &::after {
            background-image: url(../img/quote-right.png);
            right: 0;
            bottom: 0;
        }
    }

    // .team__quote-title

    &__quote-title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 16px;
    }

    // .team__quote-main

    &__quote-main {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 12px;
    }

    // .team__quote-author

    &__quote-author {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    // .team__quote-author-position

    &__quote-author-position {
        font-size: 16px;
        font-weight: 300;
    }
}


.blog {

    background-color: $grey5;

    // .blog__title

    &__title {
    }

    // .blog__items

    &__items {
        display: flex;
        justify-content: space-between;
    }

    // .blog__link

    &__link {
        width: 555px;
        text-align: center;
        &:hover &-text {
            border-bottom: 1px solid $color-accent;
        }
    }

    // .blog__link-image

    &__link-image {
        width: 100%;
        margin-bottom: 32px;
        img {
            display: block;
        }
    }

    // .blog__link-text

    &__link-text {
        display: inline;
        line-height: 20px;
    }
}


.feedback {

    background-image: url(../img/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $white;

    // .feedback__title

    &__title {
        color: $white;
        &::after {
            background-color: $white;
        }
    }

    // .feedback__text

    &__text {
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
    }

    // .feedback__inner

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    // .feedback__form

    &__form {
        max-width: 750px;
        width: 100%;
        form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__form-name, &__form-email, &__form-phone, &__form-message {
        border-radius: 10px;
    }

    &__form-name, &__form-email, &__form-phone {
        max-width: 240px;
        width: 100%;
        margin-bottom: 16px;
    }

    // .feedback__form-message

    &__form-message {
        width: 100%;
        height: 120px;
        margin-bottom: 20px;
        resize: none;
    }

    // .feedback__form-button

    &__form-button {
        border: none;
        margin: 0 auto;
        padding-left: 45px;
        padding-right: 45px;
        cursor: pointer;
    }

    // .feedback__contacts

    &__contacts {
    }

    // .feedback__contacts-link

    &__contacts-link {
        position: relative;
        display: block;
        color: $white;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        margin-bottom: 15px;
        padding-left: 45px;
        &::before {
            position: absolute;
            content: "";
            width: 28px;
            height: 28px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto auto;
            border: 1px solid $white;
            border-radius: 2px;
        }
        &--phone::before {
            background-image: url(../img/contacts-icon-phone.png);
        }
        &--whatsapp::before {
            background-image: url(../img/contacts-icon-whatsapp.png);
        }
        &--email::before {
            background-image: url(../img/contacts-icon-email.png);
        }
        &--skype::before {
            background-image: url(../img/contacts-icon-skype.png);
        }
        &--telegram::before {
            background-image: url(../img/contacts-icon-telegram.png);
        }
    }
    
    &__schedule {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 300;

    }
}

.map {
    padding: 0;
    margin: 0;
}


.footer {
    background-color: $grey6;
    color: $white;
    padding: 40px 0 40px 0;
    font-size: 14px;
    font-weight: 300;

    // .footer__top

    &__top {
        display: flex;
        padding: 0 15px 55px 15px;
        border-bottom: 1px solid rgba($white, .2);
    }

    // .footer__nav

    &__nav {
        margin-right: 80px;
    }

    // .footer__nav-link

    &__nav-link {
        display: block;
        min-width: 60px;
        color: $white;
        font-size: 14px;
        font-weight: 300;
    }

    // .footer__socials

    &__socials {
        margin-left: auto;
    }

    // .footer__socials-text

    &__socials-text {
        margin-bottom: 2px;
    }

    // .footer__socials-list

    &__socials-list {
        li {
            display: inline-block;
        }
    }

    // .footer__socials-link

    &__socials-link {
        display: inline-block;
        border: 1px solid $white;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // .footer__bottom

    &__bottom {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px 0 15px;
    }

    // .footer__copyright

    &__copyright {
    }

    // .footer__creator

    &__creator {
        display: flex;
        align-items: center;
    }

    // .footer__creator-text

    &__creator-text {
        margin-right: 10px;
    }

    // .footer__creator-logo

    &__creator-logo {
    }
}
.container {
}

