@import 'variables';
@import 'fonts';
@import 'global';

// MAIN STYLES

.first-screen {
    min-height: 700px;
    padding: 35px 0 55px 0;
    color: $white;
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
    }
    &__phone {
        position: relative;
        margin-left: auto;
        padding-left: 36px;
        font-size: 12px;
        line-height: 12px;
        font-weight: 300;
        a {
            margin-top: 4px;
            display: block;
            font-size: 21px;
            line-height: 21px;
            font-weight: 500;
            color: $white;
        }
        &::before {
            content: "";
            position: absolute;
            width: 28px;
            height: 42px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/icon-smartphone.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &__menu {
        margin-left: 60px;
    }
    &__menu-icon {
        position: relative;
        padding-top: 28px;
        width: 46px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        &::before {
            position: absolute;
            content: "";
            width: 46px;
            height: 21px;
            top: 0;
            left: 0;
            right: 0;
            background-image: url(../img/icon-menu.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

        }
    }
    &__menu-list {
        display: none;
    }
    &__menu-link {
    }

    &__title {
        margin-top: 65px;
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
        text-align: center;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
    }
    &__offer {
        margin-top: 36px;
        font-size: 22px;
        line-height: 22px;
        font-weight: 300;
        text-align: center;
    }


    &__form {
        max-width: 960px;
        margin: 0 auto;
        margin-top: 50px;
        form {
            position: relative;
            &::before, &::after {
                position: absolute;
                content: "";
                width: 1px;
                top: 25px;
                bottom: 30px;
                background-color: rgba($white, .3);
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
    }   
    &__form-inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-line {
            height: 1px;
            width: 20px;
            background-color: rgba($white, .3);
        }
    }
    &__input {
        max-width: 290px;
        width: 100%;
    }
    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 23px;
        input {
            margin: 0 12px;
            padding: 23px 50px;
            font-size: 16px;
            font-weight: 500;
        }
        &-line {
            height: 1px;
            width: 100%;
            background-color: rgba($white, .3);
        }
    }
    &__guarantee {
        margin-top: 24px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }

    &__scroll {
        position: relative;
        width: 17px;
        height: 50px;
        margin: 0 auto;
        margin-top: 75px;
        &::before, &::after {
            content: "";
            position: absolute;
            width: 17px;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &::before {
            top: 0;
            height: 30px;
            background-image: url(../img/icon-mouse.png);
        }
        &::after {
            bottom: 0;
            height: 16px;
            animation: arrows-down 2s infinite;
            animation-timing-function: ease-in-out;
            background-image: url(../img/icon-arrowsdown.png);
        }
    }
}

@keyframes arrows-down {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(2px);
    }
    100% {
        opacity: 0;
        transform: translateY(5px);
    }
}
